/config/configstore 
/local/share/nvim/plugged/*
/local/share/nvim/rplugin.vim
/local/share/nvim/shada/main.shada
/local/share/nvim/site/autoload/plug.vim
/local/share/nvim/swap
/nvim-macos.tar.gz
/nvim-osx64

